[submodule "apps/server/src/ee"]
	path = apps/server/src/ee
	url = https://github.com/docmost/ee
[submodule ".vendor/custom-workflow"]
	path = .vendor/custom-workflow
	url = git@github.com:littlechun4/custom-workflow.git
